pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: Material
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict w4uP0IlHDe9hUai0DLzVHiyjgCDqo6r7udwoDesfvjkH0SJ5njop0lWQwGKg5FB

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Service" (id, label) FROM stdin;
1	atelier
2	services-generaux
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Localisation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Localisation" (id, label) FROM stdin;
1	Forts
2	B├óti Viti
3	B├ótiment principal
4	Chai
5	Conditionnement
6	Jardin
7	test refacto
\.


--
-- Data for Name: Parent; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Parent" (id, label) FROM stdin;
\.


--
-- Data for Name: Status; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Status" (id, label, created_at, updated_at) FROM stdin;
1	demand├®	2025-07-30 09:25:18.266	2025-07-30 09:25:18.266
2	en cours	2025-07-30 09:25:18.274	2025-07-30 09:25:18.274
3	termin├®e	2025-07-30 09:25:18.277	2025-07-30 09:25:18.277
4	ras	2025-07-30 14:37:21.048	2025-07-30 14:37:21.048
5	recommander	2025-08-06 12:01:42.222	2025-08-06 12:01:42.222
6	consommable	2025-08-06 14:15:10.175	2025-08-06 14:15:10.175
7	consommable_a_recomander	2025-08-06 15:39:01.211	2025-08-06 15:39:01.211
\.


--
-- Data for Name: Type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Type" (id, label) FROM stdin;
1	Panne
2	Casse
\.


--
-- Data for Name: Material; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Documentation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Documentation" (id, title, file, mimetype, "materialId") FROM stdin;
\.


--
-- Data for Name: Priority; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Priority" (id, label) FROM stdin;
1	urgent
2	tr├¿s urgent
3	classique
\.


--
-- Data for Name: Intervention; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MaterialIntervention; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MaterialIntervention" (id, "materialId", "interventionId") FROM stdin;
1	55	1
9	6	9
10	20	10
11	44	11
14	44	17
15	6	18
16	6	19
19	44	22
21	5	24
22	5	25
23	6	26
24	22	27
25	22	28
29	6	32
30	6	33
32	22	35
37	6	40
\.


--
-- Data for Name: Preventive; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MaterialPreventive; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MaterialPreventive" (id, "materialId", "preventiveId") FROM stdin;
12	44	12
19	39	19
20	6	20
21	46	21
24	53	24
25	236	25
26	6	26
27	29	27
\.


--
-- Data for Name: Movement; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Role" (id, label) FROM stdin;
1	demandeur
2	technicien
3	responsable
4	administrateur
\.


--
-- Data for Name: StatusIntervention; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: UserIntervention; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."UserIntervention" (id, "interventionId", "userId") FROM stdin;
1	17	1
2	10	2
3	7	2
4	7	1
5	17	2
6	25	1
7	4	2
8	4	1
9	11	1
10	11	2
11	26	1
12	26	2
13	6	1
14	6	2
15	24	1
16	27	1
17	32	2
18	32	1
19	33	1
20	30	1
21	30	2
22	27	2
23	25	2
\.


--
-- Data for Name: UserPreventive; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."UserPreventive" (id, "preventiveId", "userId") FROM stdin;
1	20	1
2	19	2
3	24	2
4	25	1
5	26	1
6	27	1
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Category_id_seq"', 79, true);


--
-- Name: Documentation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Documentation_id_seq"', 1, false);


--
-- Name: Intervention_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Intervention_id_seq"', 40, true);


--
-- Name: Localisation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Localisation_id_seq"', 7, true);


--
-- Name: MaterialIntervention_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."MaterialIntervention_id_seq"', 37, true);


--
-- Name: MaterialPreventive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."MaterialPreventive_id_seq"', 27, true);


--
-- Name: Material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Material_id_seq"', 252, true);


--
-- Name: Movement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Movement_id_seq"', 50, true);


--
-- Name: Parent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Parent_id_seq"', 1, false);


--
-- Name: Preventive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Preventive_id_seq"', 27, true);


--
-- Name: Priority_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Priority_id_seq"', 3, true);


--
-- Name: Role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Role_id_seq"', 4, true);


--
-- Name: Service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Service_id_seq"', 2, true);


--
-- Name: StatusIntervention_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."StatusIntervention_id_seq"', 40, true);


--
-- Name: Status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Status_id_seq"', 4, true);


--
-- Name: Type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Type_id_seq"', 1, false);


--
-- Name: UserIntervention_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."UserIntervention_id_seq"', 23, true);


--
-- Name: UserPreventive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."UserPreventive_id_seq"', 6, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."User_id_seq"', 29, true);


--
-- PostgreSQL database dump complete
--

\unrestrict w4uP0IlHDe9hUai0DLzVHiyjgCDqo6r7udwoDesfvjkH0SJ5njop0lWQwGKg5FB

