-- DropForeignKey
ALTER TABLE "Documentation" DROP CONSTRAINT "Documentation_materialId_fkey";

-- DropForeignKey
ALTER TABLE "Movement" DROP CONSTRAINT "Movement_materialId_fkey";

-- DropForeignKey
ALTER TABLE "MaterialPreventive" DROP CONSTRAINT "MaterialPreventive_materialId_fkey";

-- DropForeignKey
ALTER TABLE "MaterialIntervention" DROP CONSTRAINT "MaterialIntervention_materialId_fkey";

-- AddForeignKey
ALTER TABLE "Documentation" ADD CONSTRAINT "Documentation_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES "Material"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIntervention" ADD CONSTRAINT "MaterialIntervention_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES "Material"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialPreventive" ADD CONSTRAINT "MaterialPreventive_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES "Material"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Movement" ADD CONSTRAINT "Movement_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES "Material"("id") ON DELETE SET NULL ON UPDATE CASCADE;

